<section class="bg-center bg-no-repeat bg-cover bg-[url('https://autosurcsa.com/18-thickbox_default/repuestos-multimarca.jpg')] bg-gray-700 bg-blend-multiply">
  <div class="px-4 mx-auto min-h-screen xl:min-h-[700px] lg:min-h-[700px] max-w-screen-xl text-center py-24 lg:py-56 flex items-center justify-center">
    <div>
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
        ¿Necesitas repuestos diesel de alta calidad para tu vehiculo?
      </h1>
      <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
        ¡Ofrecemos una amplia variedad de autopartes diesel, desde empaques hasta pistones y bielas, repuestos nuevos y remanufacturados! Confía en nosotros para obtener las mejores piezas diésel para tu vehículo.
      </p>
    </div>
  </div>
</section>
